<% include partials/header %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
	crossorigin="anonymous">
</script>


<div class="container">
	<header class="jumbotron">

		<h1>Providers</h1>
		<p>Search for your provider</p>
		<form action="/providers" method="POST">
			<div class="form-row">

				<div class="form-group col-md-2">
					<label for="stateSel">State</label>
					<select name="state" id="stateSel" class="form-control">
						<% if(curstate === null) { %>
							<option selected value="nostate"></option>
						<% } %>
						<% for( const state of states) { %>
							<option
								<% if( curstate !== null && curstate === state) { %>
									selected
								<% } %>
								value="<%= state %>"><%= state %>
							</option>
						<% } %>
					</select>
				</div>

				<div class="form-group col-md-6">
					<label for="citySel">City</label>
					<select name="city" id="citySel" class="form-control city-select" data-city="<%=curcity%>"></select>
				</div>

			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</header>


	<div class="col">
			<% providers.forEach( (provider) => { %>
			<div class="card">
				<div class="card-body">
					<div class="card-header">
						<h4 class="card-title"><%= provider.providerName %></h4>
						<span itemprop="telephone">
							<a
								href="tel:+1"<%= provider.phoneNumber %>></a>
								<%= provider.phoneNumber %>
							</a>
						</span>
						<p>	<%= provider.address %> <br>
							<%= provider.city %> <%= provider.state %>, <%= provider.zipcode %></p>
					</div>
					<p><strong>Hours of Operation: </strong><%= provider.hours %></p>
					<p><strong>Treatment Services Provided: </strong><%= provider.servicesProvided %></p>
					<p><strong>Insurance Types Accepted: </strong><%= provider.insuranceAccepted %></p>
					<a href="<%=provider.url%>" class="card-link"><%= provider.url %></a>
				</div>
			</div>
		<% }); %>
	</div>

</div>

<script>
(function($) {
	function popCities() {
		var selectedState = $('#stateSel').val();
		var selectedCity = $('#citySel').attr('data-city');
		console.log( 'State: ' + selectedState + ', City: ' + selectedCity );
		if( selectedState === 'nostate') {
			$('#citySel').prop( 'disabled', true );
		} else {
			$.get('/providers/'+selectedState, function(cities) {

				$('#citySel').contents().remove();

				for(const city of cities) {
					var newOption = $('<option>' + city + '</option>');
					newOption.attr('text', city);
					newOption.attr('value', city);
					if(selectedCity === city) {
						newOption.attr('selected', true);
					}
					$('#citySel').append(newOption);
				}
			});
			$('#citySel').prop( 'disabled', false );
		}
	}

	$('#stateSel').on('change', popCities);
	$( window ).on('load', popCities);
})(jQuery)

</script>

<% include partials/footer %>